<!DOCTYPE html>
<html>
<head>
    <title>Simple Upload Example</title>
</head>
<body>
<form action="/admin/fileupload" enctype="multipart/form-data" method="post">
    <input type="file" name="upload image" multiple>
    <input type="submit" value="Upload">
</form>
</body>
</html>
