<div class="card">
    <div class="card-header">
        <h3 class="float-left">Events</h3>
        <button class="btn btn-primary float-right" ui-sref="events.add">
            <i class="fas fa-plus"></i>
        </button>
    </div>
    <div class="card-body event-list">
        <ul class="list-group list-group-flush list-header">
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg read-only">Name</div>
                    <div class="col-lg read-only">Start Date</div>
                    <div class="col-lg-1 read-only">Status</div>
                    <div class="col-lg-1 read-only">Actions</div>
                </div>
            </li>
        </ul>
        <ul class="list-group list-group-flush list-repeater">
            <li class="list-group-item" ng-repeat="event in vm.events track by $index">
                <div class="row">
                    <div class="col-lg read-only">
                        {{event.name}}
                    </div>
                    <div class="col-lg read-only">
                        {{event.startDate | dateFormat}}
                    </div>
                    <div class="col-lg-1 read-only status">
                        <span class="published" ng-if="!event.unpublished"><i class="fas fa-check-circle"></i></span>
                        <span class="mix" ng-if="event.publishedDate"><i class="fas fa-exclamation-circle"></i></span>
                        <span class="unpublished" ng-if="event.unpublished"><i class="fas fa-times-circle"></i></span>
                    </div>
                    <div class="col-lg-1">
                        <!-- <button class="btn btn-link" ui-sref="events.detail({id: $index})">details</button> -->
                        <button class="btn btn-link" ui-sref="events.edit({id: $index})">Edit</button>
                        <!-- <button class="btn btn-link" ng-click="vm.deleteEvent(event,$index)">delete</button> -->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>