<form role="form" name="vm.forms.form" novalidate>

    <div>
        <div class="row">
            <label class="col-sm-1">id</label>
            <input class="col-sm-4" ng-model="vm.event.id" ng-show="vm.view.edit">
            <span class="col-sm-4" ng-hide="vm.view.edit">{{vm.event.id}}</span>
        </div>
        <div class="row">
            <label class="col-sm-1">First Name</label>
            <input class="col-sm-4" ng-model="vm.event.name.first" ng-show="vm.view.edit">
            <span class="col-sm-4" ng-hide="vm.view.edit">{{vm.event.name.first}}</span>
        </div>
        <div class="row">
            <label class="col-sm-1">Last Name</label>
            <input class="col-sm-4" ng-model="vm.event.name.last" ng-show="vm.view.edit">
            <span class="col-sm-4" ng-hide="vm.view.edit">{{vm.event.name.last}}</span>
        </div>
        <div class="row">
            <label class="col-sm-1">Suffix</label>
            <input class="col-sm-4" ng-model="vm.event.name.suffix" ng-show="vm.view.edit">
            <span class="col-sm-4" ng-hide="vm.view.edit">{{vm.event.name.suffix}}</span>
        </div>
    </div>

    <div>
        <button class="btn btn-link" ng-click="vm.cancel()" ng-show="vm.view.edit">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.save(vm.event)" ng-show="vm.view.edit">Save
        </button>
        <button ui-sref="admin.events.edit({ id: vm.event.id })" class="btn btn-primary" ng-show="vm.view.readOnly">Edit
        </button>
    </div>

</form>