<form role="form" name="vm.forms.form" novalidate>

    <div class="form-group row">
        <label class="col-lg-1 col-form-label">Name</label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="vm.event.name" ng-show="vm.view.edit">
            <span class="form-control-plaintext" ng-hide="vm.view.edit">{{vm.event.name}}</span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-lg-1 col-form-label">Start Date</label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="vm.event.startDate" ng-show="vm.view.edit">
            <span class="form-control-plaintext" ng-hide="vm.view.edit">{{vm.event.startDate | date}}</span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-lg-1 col-form-label">Filename</label>
        <div class="col-lg-4">
            <input class="form-control" ng-model="vm.event.filename" ng-show="vm.view.edit">
            <span class="form-control-plaintext" ng-hide="vm.view.edit">{{vm.event.filename}}</span>
        </div>
    </div>

    <div class="action-buttons float-right">
        <button class="btn btn-link" ng-click="vm.cancel()" ng-show="vm.view.edit">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="vm.save(vm.event)" ng-show="vm.view.edit">Save
        </button>
        <button ui-sref="admin.events.edit({ id: vm.eventId })" class="btn btn-primary" ng-show="vm.view.readOnly">Edit
        </button>
    </div>

</form>