<br>
<% include footer-info %>
<br>

<div class="pageBottom">
  <p>Copyright © 2018 Shree Swaminarayan Temple Sydney</p>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/vendor.min.js"></script>
<script src="/javascripts/jquery-migrate.min.js"></script>
<script src="/javascripts/app.min.js"></script>
<script src="/javascripts/jquery-inline-popup.min.js"></script>