<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<div class="pageBottom">
    <p>Copyright © 2018 Shree Swaminarayan Temple Sydney</p>

</div
  </body>
</html>
