<footer>
  <div class="container-fluid" style="padding-top:20px">
    <div class="row">
      <div class="white-border bg-dark" style="width:100%">
          <div class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="pageBottom">
                          <p>Copyright © 2019 Shree Swaminarayan Temple Sydney <br />  1-3 Tasha Pl, Kings Park NSW 2148</p>
                        </div>
                  </div>
              </div>
            </div>
      </div>
    </div>
  </div>
<footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/vendor.min.js"></script>
<script src="/javascripts/jquery-migrate.min.js"></script>
<script src="/javascripts/jquery-inline-popup.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/progressively/dist/progressively.min.js"></script> -->
<script src="/javascripts/progressively.js"></script>
<script src="/javascripts/app.js"></script>


<% include buttons/scroll %>
