<div class="row">
    <div class="col-sm-12">
        <% include footer-info %>
        <div class="pageBottom">
            <p>Copyright © 2019 Shree Swaminarayan Temple Sydney</p>
          </div>
    </div>
</div>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/vendor.min.js"></script>
<script src="/javascripts/jquery-migrate.min.js"></script>
<script src="/javascripts/app.min.js"></script>
<script src="/javascripts/jquery-inline-popup.min.js"></script>