<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p class="text-center text-muted">Copyright © 2018 Shree Swaminarayan Temple Sydney</p>


  </body>
</html>
