<div class="row">
  <div class="col-sm-6">
    <b>MANDIR OPENING TIMES</b><br>
    Monday To Friday<br>
    6:00am – 10:30am<br>
    4:00pm – 8:30pm<br>
    Saturday & Sunday<br>
    7:00am – 10:00am<br>
    4:00pm – 8:00pm</div>
    <div class="col-sm-6"><table>
      <tr>
        <th>Australian Bank Account</th>
      </tr>
      <tr>
        <td>Commonwealth Bank of Australia</td>
      </tr>
      <tr>
        <td>Account Name – Shree Swaminarayan Temple, Sydney Inc</td>
      </tr>
      <tr>
        <td>BSB – 062 596</td>
      </tr>
      <tr>
        <td>Account No – 10198192</td>
      </tr>
      <tr>
        <td>BIC / SWIFT Code – CTBAAU2S</td>
      </tr>
    </table>
    </div>
  </div>
