<footer>
  <br/>
  <div class="container-fluid">
    <div class="row">
      <div class="white-border bg-dark" style="width:100%">
        <br/>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="pageBottom">
                <p>Copyright © 2019 Shree Swaminarayan Temple Sydney</p>
              </div>
        </div>
    </div>
  </div>
<footer>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/vendor.min.js"></script>
<script src="/javascripts/jquery-migrate.min.js"></script>
<script src="/javascripts/app.min.js"></script>
<script src="/javascripts/jquery-inline-popup.min.js"></script>
