<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="navbar">
    <h1 style="color:white;margin-left:30px;">SHREE SWAMINARAYAN TEMPLE SYDNEY</h1>
<!--    <h1 style="color:white;margin-left:30px;"><%= title %></h1> -->
    <a href="/events">Events</a>
    <a href="/gallery">Gallery</a>
    <a href="/daily-darshan">Daily Darshan</a>
    <a href="/acharyas">Acharyas</a>
    <a href="/about-lordSwaminarayan">About Lord Swaminarayan</a>
    <a href="/mandir-history">Mandir History</a>
    <a href="/history">History</a>
    <a href="/donations">Donations</a>
    <a href="/useful-links">Useful Links</a>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <title><%= title %></title>
