<div class="row " onclick="location.href='/admin';" style=" padding-right: 60px; padding-left:60px">
  <div style="width:100%; background:orange; height: 50px" class = "white-border navbar navbar-expand-lg navbar-dark bg-dar">
    <img src="/images/liveGif.gif" alt="Live" style="height:100%; position: inherit; padding-left:10px" />
    <h5 style="font-weight:bold; padding-left: 50px">Click here to watch 'Vachanamrut Parayan' Live</h5>
  </div>
</div>
<div class="container">
  <div class="row"><br></div>
</div>
