<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img src="/images/web-assets/banner-top.png" width="100%">
    </div>
  </div>
</div>

<div class="container-fluid sticky-top" >
  <div class="row">
    <div style="width:100%">
      <nav class="white-border navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBar" aria-controls="menuBar"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuBar">
          <div class="container">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/events">Events <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="/gallery">Gallery</a>
              <a class="nav-item nav-link" href="/acharyas">Acharyas</a>
              <a class="nav-item nav-link" href="/about-lordSwaminarayan">About Lord Swaminarayan</a>
              <a class="nav-item nav-link" href="/mandir-history">Mandir History</a>
              <a class="nav-item nav-link" href="/history">History</a>
              <a class="nav-item nav-link" href="/donations">Donations</a>
              <a class="nav-item nav-link" href="/useful-links">Useful Links</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container">
    <div class="row"><br></div>
</div>
