<nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
  <a class="navbar-brand" href="#"><img src="" width="30" height="30" alt="SSTS"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBar" aria-controls="menuBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="menuBar">
    <div class="navbar-nav">
      <a class="nav-item nav-link active"  href="/events">Events <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/acharyas">Acharyas</a>
      <a class="nav-item nav-link" href="/about-lordSwaminarayan">About Lord Swaminarayan</a>
      <a class="nav-item nav-link" href="/mandir-history">Mandir History</a>
      <a class="nav-item nav-link" href="/history">History</a>
      <a class="nav-item nav-link" href="/donations">Donations</a>
      <a class="nav-item nav-link" href="/useful-links">Useful Links</a>
    </div>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="stylesheets/bootstrap.min.js"></script>
-->
<!--<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="bootstrap.min.js"></script>
-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
-->
