<% include topBanner %>

<div class="container-fluid sticky-top">
  <div class="row">
    <div style="width:100%">
      <nav class="white-border navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBar"
          aria-controls="menuBar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuBar">
          <div class="container">
            <div class="row">
              <div class="col-sm-9 navbar-nav">
                <a class="nav-item nav-link" href="/events">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="/media/photo-gallery">Gallery</a>
                <a class="nav-item nav-link" href="/acharyas">Acharyas</a>
                <a class="nav-item nav-link" href="/about-lordSwaminarayan">About Lord Swaminarayan</a>
                <!-- <a class="nav-item nav-link" href="/mandir-history">Mandir History</a> -->
                <a class="nav-item nav-link" href="/history">History</a>
                <a class="nav-item nav-link" href="/donations">Donations</a>
                <a class="nav-item nav-link" href="/useful-links">Useful Links</a>
              </div>
              <div class="col-sm-3">
                <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex float-right social">
                  <!--      <a href="www.facebook.com" class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
            <a href="www.instagram.com" class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>-->
                  <a href="https://www.facebook.com/sstsydney/" target="_blank" class="fb-ic mr-3" role="button"><i
                      class="fab fa-lg fa-facebook-f"></i></a>
                  <a href="https://www.instagram.com/sstsydney/" target="_blank" class="ins-ic mr-3" role="button"><i
                      class="fab fa-lg fa-instagram"></i></a>
                  <a href="https://www.youtube.com/user/sydtemple" target="_blank" class="yt-ic mr-3" role="button"><i
                      class="fab fa-lg fa-youtube"></i></a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="container">
  <div class="row"><br></div>
</div>
