<div class="row">
    <div class="col-sm-12">
        <img src="/images/web-assets/banner-top.png" width="1140px"  height="268px">
      </div>
    </div>


<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary sticky-top">
      <a class="navbar-brand" href="#"><img src="" width="30" height="30" alt="SSTS"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuBar" aria-controls="menuBar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="menuBar">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/events">Events <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/acharyas">Acharyas</a>
          <a class="nav-item nav-link" href="/about-lordSwaminarayan">About Lord Swaminarayan</a>
          <a class="nav-item nav-link" href="/mandir-history">Mandir History</a>
          <a class="nav-item nav-link" href="/history">History</a>
          <a class="nav-item nav-link" href="/donations">Donations</a>
          <a class="nav-item nav-link" href="/useful-links">Useful Links</a>
        </div>
      </div>
    </nav>
  </div>
</div>