<div class="container bg-light">
  <div class="row">&nbsp;</div>
  <div class="events">
    <div class="row upcoming">
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="top-grid col-sm-12" style="text-align: center;">
          <h3>Daily Darshan</h3>
          <div class="wrapper">
              <a href="/dd-preview">
                  <img class="card-img-top" src="/dd-preview/image"/>
            </a>
          </div>
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="top-grid col-sm-12" style="text-align: center">
          <!-- <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col">Day</th>
                <th scope="col">Opening</th>
                <th scope="col">Closing</th>
                <th scope="col">Aarti</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Monday</th>
                <td>06:00 <br /> 16:00</td>
                <td>10:30 <br />20:30 </td>
                <td>IDK</td>
              </tr>
              <tr>
                <th scope="row">Tuesday</th>
                <td>06:00 <br /> 16:00</td>
                <td>10:30 <br />20:30 </td>
                <td>IDK</td>
              </tr>
              <tr>
                <th scope="row">Wednesday</th>
                <td>06:00 <br /> 16:00</td>
                <td>10:30 <br />20:30 </td>
                <td>IDK</td>
              </tr>
              <tr>
                <th scope="row">Thursday</th>
                <td>06:00 <br /> 16:00</td>
                <td>10:30 <br />20:30 </td>
                <td>IDK</td>
              </tr>
              <tr>
                <th scope="row">Friday</th>
                <td>06:00 <br /> 16:00</td>
                <td>10:30 <br />20:30 </td>
                <td>IDK</td>
              </tr>
              <tr>
                <th scope="row">Saturday</th>
                <td>07:00 <br /> 10:00</td>
                <td>16:00 <br />20:00 </td>
                <td>IDK</td>
              </tr>
              <tr>
                <th scope="row">Sunday</th>
                <td>07:00 <br /> 10:00</td>
                <td>16:00 <br />20:00 </td>
                <td>IDK</td>
              </tr>
            </tbody>
          </table> -->
          <h4 style="font-size: 20px; "><b>Opening Times</b></h4>
          <table class="table table-sm">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"><b>Opening</b></th>
                <th scope="col"><b>Closing</b></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Mon-Fri</th>
                <td>06:00 <br /> 16:00</td>
                <td>10:30 <br />20:30 </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Sat-Sun</th>
                <td>07:00 <br /> 16:00</td>
                <td>10:00 <br />20:00 </td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th colspan="3"><h4 style="font-size: 20px"><b>Aarti Times</b></h4></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Mon-Fri</th>
                <td>06:30</td>
                <td>19:00 </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Sat-Sun</th>
                <td>08:00</td>
                <td>17:30 </td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <th scope="row">Public Holidays</th>
                <td>08:00</td>
                <td>17:00 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="top-grid col-sm-12" style="text-align: center">
            <!-- <h5>Subscribe</h5> -->
            <!-- <h6 style="color:#dc4b4b;">Coming Soon!</h6> -->
          <h3>Subscribe</h3>
          <!-- <div style="position:absolute;height: 100%;top: 0;width: 100%;background-color: #0000002b;"></div> -->
          <div id="subscribe-form">
            Subscribe below to receive emails of future events at the temple:<br/><br/>
            <input id="subscribe-email" type="email" placeholder="Your email" /><br/><br/>
            <input id="subscribe-name" type="text" placeholder="Your name" /><br/><br/>
            <input id="subscribe-submit" type="submit" name="subscribe" value="subscribe" />
          </div>
          <div id="subscribe-success" style="display:none;">
            &nbsp;
            <h6>Thank you for subscribing!</h6>
          </div>
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Calendar</h3>
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;src=sydneytemple13@gmail.com&amp;ctz=Australia%2FSydney" style="opacity: 0.7" width="100%" height="86%" frameborder="0" scrolling="no"></iframe>
          <!--<dl class="calendar-events">
              <dt>Sunday, 10th of February</dt>
              <dd>Shikshapatri Jayanti V.S. 1882</dd>
              <dd>Vasant Panchmi</dd>
              <dt>Saturday, 16th of February</dt>
              <dd>Jaya Ekadashi Fast</dd>
              <dt>Tuesday, 19th of February</dt>
              <dd>Mukutotsav Poonam</dd>
              <dd>Maag Snan Ends</dd>
          </dl>-->
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
