<div class="container bg-light">
  <div class="row">&nbsp;</div>
  <div class="events">
    <div class="row upcoming">
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="top-grid col-sm-12" style="text-align: center;">
          <h3><a href="/media/daily-darshan" class="text-dark">Daily Darshan</a></h3>
          <hr style="border-width: 5px;margin-bottom: 0px;">
          <div class="wrapper-daily-darshan">
              <a href="/dd-preview">
                <img class="card-img-top d-none d-lg-block " src="/dd-preview/image"/>
                <img class="card-img-top d-lg-none tile-border-radius" src="/dd-preview/image"/>
                </a>
          </div>
        </div> 
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3 style="margin-bottom: 0px; ">Opening Hours</h3>
          <hr style="border-width: 5px;margin-bottom: 0px;">
          <table class="table table-openingtimes table-sm">
          <thead>
            <tbody>
                <tr style="background-color: #F8FBFB; font-weight:bold;">
                <td style="color: #395793">Mon-Fri</td>
                <td style="color: #395793">Aarti</td>
              </tr><tr style="background-color: #F8FBFB;">
                <td style="color: #395793">6:00 AM - 11:00 AM </td>
                <td style="color: #395793">6:30 AM</td>
              </tr><tr style="background-color: #f8f8f8;">
                <td style="color: #395793">4:00 PM - 8:30 PM</td>
                <td style="color: #395793">7:00 PM </td>
              </tr>
              <tr style="background-color: #E6ECFB; font-weight:bold;">
                <td>Sat-Sun</td>
                <td>Aarti</td>
              </tr>
              <tr style="background-color: #E6ECFB;">
                <td>7:30 AM - 11:00 AM</td>
                <td>8:00 AM</td>
              </tr>
              <tr style="background-color: #E6ECFB">
                <td>4:00 PM - 7:30 PM</td>
                <td>5:30 PM</td>
              </tr>  
              <tr style="background-color: #F8FBFB; font-weight:bold;">
                <td style="color: #395793">Public Holiday</td>
                <td style="color: #395793">Aarti</td>
              </tr><tr style="background-color: #F8FBFB">
                <td style="color: #395793">6:00 AM - 11:00 AM</td>
                <td style="color: #395793">8:00 AM</td>
              </tr>
              <tr style="background-color: #f8f8f8;"> 
                <td style="color: #395793">4:00 PM - 8:30 PM</td>
                <td style="color: #395793">7:00 PM</td>
              </tr>
             </tbody>
          </table>
          <i>Note: Times may vary on festival days</i>
          <!-- <p style="color: red; font-weight: bold">Masks are strongly recommended when visiting. Please follow instructions from volunteers!</p> -->
          <!-- <p style="color: red; font-weight: bold">All devotees MUST wear a mask  to protect the health, safety and well-being of all our community</p>-->
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12" >
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Catering</h3>
          <hr style="border-width: 5px;margin-bottom: 5px;">
          <img class="vaishnavslogo" src="images/vaishnavslogo.png" alt="Vaishnavs Logo"><br>
          <div>
            <ul style="text-align: left; padding-left: 30px; margin-top: 5px;">
              <li>Pure Vegetarian Food</li>
              <li>No Onion, No Garlic</li>
              <li>Seasonal Ingredients</li>
              <li>Fresh cuisine made in our Temple</li>
            </ul>
            <p>CATERING FOR BIRTHDAYS, WEDDINGS, ENGAGEMENTS ETC. IS NOW AVAILABLE</p>
          </div>
          <button style="background-color: rgb(183, 6, 6); color: white; border-radius: 20px; padding: 10px 20px; font-size: 16px; border: none; font-weight: bold; text-transform: uppercase; cursor: pointer;" onclick="window.open('https://www.vaishnavs.sydney/', '_blank')">Order online</button>
          <br>
          <br>
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12 d-none d-md-block">
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Calendar</h3>
          <hr style="border-width: 5px;margin-bottom: 0px;">
          <iframe class="calendar" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;src=sydneytemple13@gmail.com&amp;ctz=Australia%2FSydney" style="opacity: 0.7" width="100%" height="80%" frameborder="0" scrolling="no"></iframe>
          <!--<dl class="calendar-events">
              <dt>Sunday, 10th of February</dt>
              <dd>Shikshapatri Jayanti V.S. 1882</dd>
              <dd>Vasant Panchmi</dd>
              <dt>Saturday, 16th of February</dt>
              <dd>Jaya Ekadashi Fast</dd>
              <dt>Tuesday, 19th of February</dt>
              <dd>Mukutotsav Poonam</dd>
              <dd>Maag Snan Ends</dd>
          </dl>-->
        </div>
      </div>
       <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12 d-md-none" style="height:100%;">
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Calendar</h3>
          <iframe class="tile-border-radius" src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;src=sydneytemple13@gmail.com&amp;ctz=Australia%2FSydney" style="opacity: 0.7" width="100%" height="300px" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
