<div class="container bg-light">
  <div class="row">&nbsp;</div>
  <div class="events">
    <div class="row upcoming">
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Daily Darshan</h3>
          <a href="/daily-darshan/01-TodaysDarshan/dd-1.jpg">
            <img class="card-img-top" src="/daily-darshan/01-TodaysDarshan/dd-1.jpg" />
          </a>
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Opening Times</h3>
          <br/>
          <h5>Monday - Friday</h5>
          6:00am – 10:30am<br>
          4:00pm – 8:30pm<br>
          <br/>
          <h5>Saturday - Sunday</h5>
          7:00am – 10:00am<br>
          4:00pm – 8:00pm
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Calendar</h3>
          <dl class="calendar-events">
              <dt>Sunday, 10th of February</dt>
              <dd>Shikshapatri Jayanti V.S. 1882</dd>
              <dd>Vasant Panchmi</dd>
              <dt>Saturday, 16th of February</dt>
              <dd>Jaya Ekadashi Fast</dd>
              <dt>Tuesday, 19th of February</dt>
              <dd>Mukutotsav Poonam</dd>
              <dd>Maag Snan Ends</dd>
          </dl>
        </div>
      </div>
      <div class="article col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="top-grid col-sm-12" style="text-align: center">
          <h3>Subscribe</h3>
          Enter your email below
        </div>
      </div>
    </div>
  </div>
</div>
<br/>
