<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-sm-12"> -->
      <img class="top-image-padding" src="/images/web-assets/banner-top-2024.png" width="100%">
    <!-- </div> -->
  </div>
</div>
