<!-- <!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
  <div class="container bg-light">
    <div class="row">
    </div>
  </div>
  <% include partials/footer %>
</body>

</html> -->
