<!DOCTYPE html>
<html>
<head>
  <% include partials/header %>
</head>
<header>
  <% include partials/menu %>
</header>
<body>
  <p>Welcome to <%= title %></p>
</body>
<footer>
  <% include partials/footer %>
</footer>
</html>
