<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
    <div class="container bg-light">
      <div class="row other-pages">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">






            </div>
          </div>
        </div>
      </div>
    </div>

    <% include partials/footer %>
</body>

</html>