<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
  <div class="container">
    <div class="row">
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
</body>

</html>
