<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>
<header>
  <% include partials/menu %>
</header>

<body>
Í
  <div class="container">
    <div class="row">
      <% include partials/menu %>
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
</body>

</html>