<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>
  <div class="container bg-light">
    <div class="row other-pages">
      <div class="col-sm-12">
        <div>
          <!--<h1>'Our temple'</h1>-->
          <h1>Acharyas</h1>
          <img src="images/acharyashree.jpg" alt="acharyashree"  width="200px" height="200px" align="left" class="staticPage-images">
          <p>Swaminarayan Sampraday Guru Parampara is said to have started from Shree Ramanuj Archarya and his successor
            was Sadguru Shree Ramanand Swami and he gave diksha and appointed Shree Sahajanand Swami (Shree Swaminarayan
            Bhagwan) as his successor. One of the purposes of Shree Swamianarayan Bhagwan’s life was to continue and
            preserve the virtues of the Dharma, Bhakti, Gnan and Vairagya that He established, after He had gone to
            Akshardham. So after discussions with the leading Saints at the time he established the Acharyaship of
            Swaminarayan Sampraday on Kartak Sud Ekadashi (Prabodhini Ekadashi)1882 (Tuesday 21-11-1825) in Vadtal.<br><br>
            He adopted and appointed his elder brother Rampratapbhai’s third son Ayodhya Prasadji as the Acharya of
            Narnarayan Desh (Northern Division) and his younger brother Ichharambhai’s second son Raghuvir Prasadji as
            the Acharya of Laxminarayan Desh (Southern Division). Ahmedabad was the HQ of Narnarayan Dev Gadi and Vadtal
            for Laxminarayan Dev Gadi. Swaminarayan Bhagwan announced that only these two Acharyas (and their Successor)
            are to install murtis in the His Temples and to give diksha to the disciples in their respective divisions.
            He promised that he will reside in the Murtis installed by the Acharyas. No one else, regardless of his/her
            high religious or spiritual status, is authorised to install the Murtis and give Diksha to disciples of
            Swaminarayan Sampraday.<br><br>
            The two Acharyas are authorized to initiate the male disciples and their wives with the consent of their
            husbands are to initiate the female disciples. The jurisdiction of the management of the Divisions and the
            roles of the Acharyas are stipulated in Desh Vibhag Lekh, which was dictated by Shreeji Maharaj Himself to
            Swami Sukhanand and handed to the two Acharyas on the Magsar Sud Poonam 1883 (1827 AD).</p>
          </div>
          <br />
          <div>
            <table border="5px" width="100%" class="table">
              <tr>
                <th>Amdavad Gadi</th>
                <th>Vadtal Gadi</th>
              </tr>
              <td><pre>
                Acharya Shree Ayodhyaprasadji Maharaj
                Acharya Shree Keshavprasadji Maharaj
                Acharya Shree Purshottamprasadji Maharaj
                Acharya Shree Vasudevprasadji Maharaj
                Acharya Shree Devendraprasadji Maharaj
                Acharya Shree Tejendraprasadji Maharaj
                Acharya Shree KoshalendraPrasadjiMaharaj
              </pre></td>
              <td><pre>
                Acharya Shree Raghuvirji Maharaj
                Acharya Shree Bhagvatprasadji Maharaj
                Acharya Shree Viharilalji Maharaj
                Acharya Shree Laxmiprasadji Maharaj
                Acharya Shree Shripatiprasadji Maharaj
                Acharya Shree Anandprasadji Maharaj
                Acharya Shree Narendraprasadji Maharaj
                Acharya Shree Ajendraprasadji Maharaj
                Acharya Shree Rakesh Prashadji Maharaj
              </pre>
            </td>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% include partials/footer %>
</body>

</html>
