<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>'Contact Information'</h1>
  <h1>Donations</h1>
  <h2>Temple Account Details</h2>
  <p>Donations can be deposited to the following Temple Account</p>
  <table>
    <tr>
      <th>Australian Bank Account</th>
    </tr>
    <tr>
      <td>Commonwealth Bank of Australia</td>
    </tr>
    <tr>
      <td>Account Name – Shree Swaminarayan Temple, Sydney Inc</td>
    </tr>
    <tr>
      <td>BSB – 062 596</td>
    </tr>
    <tr>
      <td>Account No – 10198192</td>
    </tr>
    <tr>
      <td>BIC / SWIFT Code – CTBAAU2S</td>
    </tr>
  </table>

  <br/>
  <pre>-Transferring funds via Internet Banking or Direct Debits – Insert your First, Middle and Surname Name as the reference.
    -Depositing funds over the counter at the bank – Email info@sydneytemple.org with your full name, amount deposited and the deposit date.
    -Alternatively forward a copy of the deposit slip to the Temple Treasurer.</pre>
    <p>The above information is required to update our records and upon request, if required a receipt can be provided.</p>
    <a href="/events">Events</a>
  </body>
  </html>
