<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>

  <div class="container bg-light ">
    <div class="row other-pages">
      <div class="col-sm-12">
        <!--<h1>'Contact Information'</h1>-->
        <!--<h1>Donations</h1>-->
        <h1>Temple Account Details</h1>
        <p>Donations can be deposited to the following Temple Account</p>
        <table border="5px" width="100%" class="table">
          <tr>
            <th>Australian Bank Account</th>
          </tr>
          <tr>
            <td>Commonwealth Bank of Australia</td>
          </tr>
          <tr>
            <td>Account Name – Shree Swaminarayan Temple, Sydney Inc</td>
          </tr>
          <tr>
            <td>BSB – 062 596</td>
          </tr>
          <tr>
            <td>Account No – 10198192</td>
          </tr>
          <tr>
            <td>BIC / SWIFT Code – CTBAAU2S</td>
          </tr>
        </table>

        <div class="row">
          <div class="col-sm-12">
            <p>-Transferring funds via Internet Banking or Direct Debits<br/>
              -Insert your First, Middle and Surname Name as the reference<br/>
              -Depositing funds over the counter at the bank – Email info@sydneytemple.org with your full name, amount deposited and the deposit date<br/>
              -Alternatively forward a copy of the deposit slip to the Temple Treasurer.</p>
              <p>The above information is required to update our records and upon request, if required a receipt can be
                provided.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include partials/footer %>
    </body>

    </html>
