<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>
  <% include partials/menu %>

    <div class="container bg-light">
      <div class="row other-pages gujarati">
        <div class="col-sm-12">
          <h1>Welcome to Ghanshyam Gujarati</h1>

          <h2>About Us</h2>
          <p>
            Ghanshyam Gujarati is a vibrant and dynamic school that is part of
            Shree Swaminarayan Mandir Bhuj - Sydney. Established in 2013 as a
            volunteer-run service, it has been nurturing young minds and
            instilling the rich cultural heritage of Gujarat into the hearts of
            our future generations. Our school is an integral part of the
            temple's Ghanshyam Bal Mandal group (youth group) and serves as a
            cornerstone for preserving and passing on our cultural traditions.
          </p>

          <h2>Our Mission</h2>
          <p>
            Our mission is to provide a nurturing environment where children can
            learn, grow, and connect with their Gujarati heritage. Through
            interactive lessons, cultural activities, and language instruction,
            we aim to foster a sense of pride in our students' cultural identity
            and language skills.
          </p>

          <h2>Our Curriculum</h2>
          <p>
            At Ghanshyam Gujarati, we pride ourselves on offering an
            internationally recognized curriculum that has stood the test of
            time. Our curriculum is based on textbooks originally created in
            1997 in the UK. These textbooks have been thoughtfully updated to
            meet modern teaching standards, incorporating engaging activities to
            keep our students actively involved in their learning journey.
          </p>

          <h2>Class Details</h2>
          <ul>
            <li>
              <span class="bold">Time:</span> Saturday, 3:30 PM to 5:30 PM
            </li>
            <li>
              <span class="bold">Term Dates:</span> Our classes align with the
              NSW school term dates, offering four 10-week terms throughout the
              year.
            </li>
            <li>
              <span class="bold">Enrolment:</span> Enrolment for the upcoming
              year opens in late November/early December. Please use our online
              enrolment form, which will be released during this period. Please
              note that enrolments are subject to capacity, and we do not accept
              mid-year enrolments.
            </li>
            <li>
              <span class="bold">Age:</span> Children aged 5 and above, starting
              from Year 1 and above, are welcome to join the school.
            </li>
          </ul>

          <h2>Become a Teacher</h2>
          <p>
            We are always on the lookout for dedicated individuals. If you are
            passionate about educating and want to contribute to preserving our
            Gujarati culture, consider becoming a teacher at Ghanshyam Gujarati!
            To express your interest, please fill out our
            <a href="https://tinyurl.com/GBM-Teach" target="_blank">Teacher Application Form</a>.
            We will contact you to discuss this wonderful opportunity further.
          </p>
          <p>
            <span class="bold">Note:</span> all teachers must hold a Working
            with Children Check (WWCC).
          </p>

          <h2>Contact Us</h2>
          <p>
            For any inquiries or additional information, please contact us at
            <a href="mailto:info@sydneytemple.org">info@sydneytemple.org</a>.
          </p>
          <p>
            At Ghanshyam Gujarati, we are committed to fostering a love for
            Gujarati culture, language, and traditions among our students. Join
            us in this exciting journey of cultural preservation and education.
          </p>

          <h3 class="italics">Preserving Our Heritage, Nurturing Our Future</h3>
        </div>
      </div>
    </div>
    <% include partials/footer %>
</body>

</html>