<!DOCTYPE html>
<html>
<head>
  <!--  <title><%= title %></title>-->
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
  <% include partials/header %>
</header>
<body>
  <div>
    <h1>'Our temple'</h1>
    <h1>History</h1>
    <p>Jai Shree Swaminarayan</p>
    <p>From the dawn of the millennium in the year 2000; members of the Swaminarayan Sampradaya began migrating to Sydney to better their lives, to make Australia their home and of course to promote the glory and message of Lord Shree Swaminarayan.<br>
    Just as our forefathers were pioneers who migrated abroad for a better life, there is a large flow of devotees coming to Sydney, Australia. His Holiness Acharya Maharajshree and Bhuj Saints have stated in their past speeches that they want to see the Swaminarayan Sampradaya grow and prosper throughout the world.<br>
    Followers migrate all over the world for many reasons, but the one valuable item they take with them is SATSANG. Without Satsang a person can degenerate, but with Satsang a person can flourish and become stronger. By associating with Saints and visiting our temples, devotees can enhance their knowledge of our religion. Saints of Bhuj Mandir have written letters to the congregations of Temples throughout the world, guiding them to remain within the wishes and teachings of Lord Shree Swaminarayan.<br>
    With such guidance and words of wisdom of Lord Shree Swaminarayan and with the divine blessings from His Holiness Acharya Maharajshree and the Saints of Shree Swaminarayan Mandir, Bhuj Kutch; devotees first arrived in Sydney in 1999. As per the guidelines of our Sampraday, all the devotees performed Daily Aarti, Thaal, Katha, Varta, Kirtan, Dhun and Chesta at their residences. After a while a collective satsang-sabha was being held every Sunday at devotee's residences.</p>
  </div>
  <div>
    <h3>Page 2</h3>
    <p>The growth of our congregation we felt that more development was needed and decided to seek guidance from the Late Pujya Mahant Swami Shri Hariswarupdasji of Bhuj Mandir to register a temple under Shree Nar-Narayan Dev, Bhuj. Respecting the wishes of Mahant Swami a constitution adopting the laws and the regulations of this country and of our Sampradaya, was formed and was sent to Bhuj Mandir for approval. Thus respecting the orders given by Pujya Mahant Swami, "Shree Swaminarayan Temple Sydney Inc. (Under Shree Nar-Narayan Dev, Bhuj Kutch)", was then registered as a non-profit making organisation in the Australian Business register in 2001.<br>
    The Sabhas being held at the residences of fellow devotees were becoming overcrowded and therefore to cope with the increasing population, it was decided to hold Satsang Sabhas in a hired hall every Sunday, with Thakarthali and Rasotsav, being held on the last Sunday of every month. Other utsavs like Ramnavmi, Janmasthmi, Vasant Panchmi, Shiv Ratri, Hindola, Diwali, Ankoot and other prominent festivals are celebrated with great pomp and passion.<br>
    With the increasing population of devotees the committee made a request to Bhuj Mandir to commence a routine schedule of Saints to fly to Australia to spread the divinity of Lord Shree Swaminarayan and provide their Spiritual guidance to the devotees residing in this southern hemisphere of the World. Thus respecting and honouring the pleas of the devotees, the Saints of Bhuj Mandir agreed to commence a routine group of Saints to annually visit Australia (Sydney, Brisbane, Newcastle, Melbourne, Adelaide & Perth) and Singapore. With the grace of Lord Shree Swaminarayan the first Group of Saints of Bhuj Mandir arrived in Sydney for the first time ever in 2003.<br>
    This Group consisted of Saints of great calibre in all aspects of Satsang. We were graced with the presence of then Upmahant Sadguru Purani Swami Dharmanandandasji, Sadguru Purani Swami ShriHaridasji, Shastri Swami Devcharandasji and Shastri Swami Bhaktvatsaldasji. With the presence of such Saints, Satsang Sabhas were held daily at various venues. The attendance of the younger generation at these Sabhas amazed the Saints. The Saints saw a divine vision of religious prosperity and established the very first overseas branch of the "Kutch Shree Nar-Narayan Dev Yuvak & Yuvati Mandal". Since here forth we have been graced with visits by Saints of Bhuj Mandir every year.</p>
  </div>
  <div>
    <h3>Page 3</h3>
    <p>With the requisition of the Saints, the committee began searching for suitable premises for establishing a Temple in Sydney. After considering various possibilities and options, the devotees all agreed to purchase land and build a Temple. After nearly a year of searching, a suitable piece of land had been put up for sale. The Trustees went to view this land and sought the guidance of Mahant Purani Swami Dharmanandandasji. Honouring the advice and assurance of Mahant Swami and with the divine blessings of Lord Shree Swaminarayan the land was purchased in 2006.<br>
    Bhoomi Poojan was done in the presence of Shastri Swami Laxmanjivandasji, Purani Swami Aksharvallabhdasji & Shatri Swami Ghanshyamnandandasji in Jul 2007. Application was made to the Baulkham Hills Council to build a Temple and the process became lengthy and unfortunately we were unsuccessful in obtaining the permission to build a Temple on that Land. With the guidance and advice from Mahant Swami on his visit to Australia in Oct 2011, we sold that land and started searching for an appropriate premise in an industrial area.<br>
    A piece of land with approval to construct warehouse units was on sale in the suburb of Kings Park, we decided to seek approval for place of worship before purchasing the land. Approval was granted in March 2012 and contracts were signed thereafter. Bhoomi Poojan was done in the presence of His Holiness Mota Maharajshree, Mahant Sadguru Purani Swami Dharmanandandasji, Sadguru Purani Swami Keshavprasaddasji and other prominent saints from Bhuj and Ahmedebad on 14th April 2012. Khat Muhurat was done the next day on 15th April 2012 in the presence of Pujya Mahant Swami, Sadguru Purani Swami Keshavprasaddasji and other prominent Swamis from Bhuj. Drawings were modified to suit the Temple and the construction started in June 2012.</p>
  </div>
</body>
<footer>
  <% include partials/footer %>
</footer>
</html>
