<!DOCTYPE html>
<html>
<% include partials/header %>
<% include partials/menu %>
<button type="button" onclick="window.location.href='about-us'">ENTER</button>
<!--<p>Welcome to <%= title %></p>-->

</html>
