<!DOCTYPE html>
<html>

<head>
  <% include partials/header %>
</head>

<body>ß

  <div class="container">
    <div class="row">
      <% include partials/menu %>
      <div>
        <h1>'Contact Information'</h1>
        <h1>Useful Links</h1>
        <table>
          <tr>
            <td>Justice of the Peace</td>
            <td>Ravi Halai – Tel: 0423300840<br />
              Nitin Patel – Tel: 0433692219</td>
          </tr>
          <tr>
            <td>Brahmin:</td>
            <td>Narendra Maharaj – Tel:0403226364</td>
          </tr>
          <tr>
            <td>India High Commission:</td>
            <td>http://www.hcindia-au.org/</td>
          </tr>
          <tr>
            <td>Consulate General of India Sydney:</td>
            <td>http://www.indianconsulatesydney.org/</td>
          </tr>
          <tr>
            <td>India Passport And Visa Services Centre:</td>
            <td>http://www.vfs-in-au.net/</td>
          </tr>
          <tr>
            <td>Kenyan High Commission:</td>
            <td>http://www.kenya.asn.au/</td>
          </tr>
          <tr>
            <td>British High Commission:</td>
            <td>http://ukinaustralia.fco.gov.uk/en/</td>
          </tr>
          <tr>
            <td>Australian Immigration Department:</td>
            <td>http://www.immi.gov.au/</td>
          </tr>
          <tr>
            <td>CentreLink:</td>
            <td>http://www.centrelink.gov.au/</td>
          </tr>
          <tr>
            <td>Recommended Migration Agents:</td>
            <td>http://www.macquariepartnership.com.au</td>
          </tr>
          <tr>
            <td>Vegetarian Network Victoria:</td>
            <td>http://www.vnv.org.au/site/</td>
          </tr>
          <tr>
            <td>Vegetarian and Vegan Information:</td>
            <td>http://www.goveg.org/</td>
          </tr>
        </table>
      </div>
      <footer>
        <% include partials/footer %>
      </footer>
    </div>
</body>

</html>