<div *ngIf="isLoggedIn()">
    <div class="left-section page sidebar" id="side-nav" (mouseover)="toggleSidebar(true)"
        (mouseout)="toggleSidebar(false)">

        <div class="brand">
            <div class="logo">
                <img src="assets/brand/materialize-logo.png" alt="logo">
            </div>
            <div class="name">
                ADMIN
            </div>
            <label class="switch">
                <input type="checkbox" class="sideMenuStatus" [(ngModel)]="sideMenuStatus">
                <span class="slider round"></span>
            </label>
        </div>

        <nav class="nav">
            <ul>
                <!-- <li>
                    <a class="nav-link" routerLink="dashboard" routerLinkActive="is-active">
                        <fa-icon [icon]="['fas', 'th-large']"></fa-icon>Dashboard
                    </a>
                </li> -->
                <li>
                    <a class="nav-link" routerLink="events" routerLinkActive="is-active">
                        <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>Events
                    </a>
                </li>
                <li>
                    <a class="nav-link" routerLink="logout" routerLinkActive="is-active">
                        <fa-icon [icon]="['fas', 'power-off']"></fa-icon>Logout
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>