body {
    background-color: #d9d9d9;
    font-family: sans-serif;
  }
  header {
    margin: 0 30px 30px;
    position: relative;
    text-align: center;
  }
  header::after {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  header h1 {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
    margin: 20px 0;
  }
  #ip-container {
    position: relative;
  }
  .article {
    font: 14px/150% "Source Sans Pro",sans-serif;
    border: 1px solid #c2c2c2;
    color: #585858;
    /* width: 270px; */
    /* height: 270px; */
    float: left;
    background: #fff;
    margin-bottom: 15px;
    /* margin-right: 15px; */
    padding: 15px;
    cursor: pointer;
  }
  .article > h2 {
    margin: 0 0 10px;
    font: 100 24px/125%  sans-serif;
    color: #337ab7;
  }
  .article span {
    display: block;
    padding-bottom: 5px;
  }
  .article strong {
    color: #563c71;
  }
  .ip-details {
    display: none;
  }
  .inlinepopup {
    /*background: #fff none repeat scroll 0 0;*/
    /* background: url("/images/web-assets/background.jpg") no-repeat scroll center 0; */
    /* -webkit-filter: blur(1px); */
    /* background: linear-gradient(#ffffff, #d5934a); */
    background: linear-gradient(#ffffff, #d5934a);
    border: 1px solid #51437082;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border-top: 5px solid #8f2024;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.5);



  }
  .inlinepopup:focus {
    background: red;
  }


  .inlinepopup_content {
    margin: 20px;
    color: #585858;
  }
  .inlinepopup_arrow {
    background: url("images/arrow-top.png") no-repeat scroll center 0;
    height: 32px;
    position: absolute;
    top: -34px;
    width: 32px;
  }
  .inlinepopupClose {
    color: #8f2024;
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 10px;
    width: 16px;
    z-index: 99;
    overflow: hidden;
    font-weight: bold;
    transition: all 0.5s ease 0s;
  }
  .inlinepopupClose:hover {
    transform: rotate(180deg);
  }
  .inlinepopup_content h2 {
    color: #585858;
    font: 400 26px/140%  sans-serif;
    margin: 0;
    padding: 0 0 10px;
  }
  .inlinepopup_content ul, .inlinepopup_content ol {
    margin: 0 0 20px;
    padding: 0 0 0 20px;
  }
  .inlinepopup_content .img-middle img {
    margin: 5px auto;
  }
  .inlinepopup_arrow {
    background: unset;
    top: -15px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top: 10px solid;
    border-right: 10px solid;
    margin: 0px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #8f2024;
    box-sizing: border-box;
    -webkit-transform: rotate(-45deg);
}

body.darken  .article:not(.active) {
  /* opacity: 0.6; */
}

.grid-image:hover{
  opacity: 0.75;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.active .grid-image:hover{
  opacity: 0.9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.other-pages img {
  margin-right: 20px;
  margin-bottom: 20px;
}

.other-pages p {
  font-size: 1.2rem;
}
