body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fff6e4;

}

.social-icon-align {
    margin-right: -25px;
}

/* .top-image-padding {
    padding-top: 30px;
} */

.vaishnavslogo {
    width: 200px;
}

.calendar {
    position: relative;
    z-index: 1;
}

.tile-border-radius {
    border-radius: 0 0 25px 25px;
} 

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cont-gal {
    padding: 0;
    background-color: rgb(255, 255, 255, 0.4);
}

.pageBottom {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-size: larger;
    font-weight: bold;
    color: hsla(0, 0%, 100%, .5);
}

.main-header {
    padding: 0px 10px;
    color: #585858;
    font: 100 14px/150% "Source Sans Pro", sans-serif;
}

.today-header {
    text-align: center;
    background-color: #ea4a38;
    color: #ffffff !important;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.next-header {
    background-color: #f9d1cc;
    font-weight: bold;
    padding: 5px;
}

.past-header {
    background-color: #cec9cc;
    font-weight: bold;
    padding: 5px;
}

.today-body {
    border: 5px solid red !important;
}

.white-border {
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

div.top-grid {
    border: 5px solid #b1afaf !important;
    padding-top: 10px;
    border-radius: 30px;
    text-align: center;
    height: 100%;
    cursor: default;
}

span.am-pm {
    display: inline !important;
    font-size: 10px;
}

div.other-pages {
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 16px;
    text-align: left;
}

h1 {
    text-align: center;
}

/* Gallery styles */

.galleria {
    max-width: 100%;
    height: 700px;
    margin: 0 auto;
}

ul li.thumb img {
    max-width: 235px;
    max-height: 225px;
}

ul li.thumb figure {
    width: 225px;
    height: 225px;
    padding: 0px 0px 10px 0px;
    margin: 0;
}

ul li.thumb {
    text-align: center;
    list-style: none;
    float: left;
    width: 255px;
    min-height: 270px;
    height: 270px;
    margin: 10px;
    padding: 6px 8px;
    border: 1px solid #ccc;
}

figure.photo {
    margin: 0;
}

.dropdown-item {
    /* color: white; */
    color: #a293af;
}

.dropdown-item:hover {
    background: none;
    color: white;
    /* font-weight: bold; */
}

/* Nav bar & footer styles */
nav.bg-dark, div.bg-dark {
    background-color: #b73106 !important;
}

.nav-item {
    background: #b73106;
}

.navbar-nav.social {
    padding-top: 7px;
}

.navbar-nav.social a {
    color: #ccc;
}

.navbar-nav.social a:hover {
    color: orange;
}

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: #b73106;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background-color: #b73106;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.pageBottom {
    padding-top: 10px;
}

.pageBottom p {
    font-size: 14px;
}

.top-grid {
    padding: 0;
}

.table {
    border: 1px solid #ccc;
}

.table-openingtimes {
    border: 0px !important;
    margin-bottom: 0px !important;
}

.bg-light {
    background-color: #f5f5f5c9 !important;
}

.bg-red {
    background-color: #8f2024 !important;
}

.input-error {
    background-color: #f5a4a4;
}

#subscribe-email,
#subscribe-name {
    width: 88%;
    margin: 0 15px;
    padding: 4px 10px;
    border: 1px solid #bbbac4;
    border-radius: 4px;
}

#subscribe-email:focus,
#subscribe-name:focus,
#subscribe-email:focus-visible,
#subscribe-name:focus-visible {
    border: 2px solid #b73106;
}

#subscribe-submit {
    background-color: #b73106;
    color: #fff;
    border: 1px solid #b73106;
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 5px;
}

#subscribe-submit:hover {
    background-color: #8f2024;
}

/* Countdown timer styles */

#clockdiv{
    font-family: sans-serif;
    color: #ee9967;
    justify-content: space-between;
    font-weight: 100;
    text-align: center;
    font-size: 4.5em;
    padding-right: 0px !important;
    margin-right: 0px !important;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    background: #fff;
    display: inline-block;
}

.countdown-header {
    padding-top: 5px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ee9967;
    text-align: center;
}
.countdown-footer {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
    color: #ee9967;
    text-align: center;
}

.countdown-img {
    width: 150px;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

@media (max-width: 995px) {

    #clockdiv{
        font-size: 3em;
    }
    .countdown-img {
        width: 115px;
    }
    .countdown-header {
        font-size: 1em;
    }
}

@media (max-width: 768px) {

    #clockdiv{
        font-size: 2em;
        /* flex-wrap: nowrap; */
    }
    .countdown-img {
        width: 88px;
    }
    #clockdiv > div{
        padding: 5px;
        border-radius: 3px;
    }
    #clockdiv div > span{
        padding: 16px 20px 15px 20px;
    }
}

@media (max-width: 520px) {

    #clockdiv{
        font-size: 2em;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-left: -5px;
    }
    .countdown-img {
        width: 65px;
    }
    #clockdiv > div{
        padding: 3px;
        border-radius: 3px;
    }
    #clockdiv div > span{
        padding: 5px 10px 5px 10px;
    }
    .smalltext{
        font-size: 12px;
    }
    .countdown-header {
        font-size: 0.8em;
    }
    .countdown-footer {
        font-size: 12px;
    }
}