body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fff6e4;
}

.pageBottom {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    font-size: larger;
    font-weight: bold;
    color: hsla(0, 0%, 100%, .5);
}

.main-header {
    padding: 0px 10px;
    color: #585858;
    font: 100 14px/150% "Source Sans Pro", sans-serif;
}

.today-header {
    text-align: center;
    background-color: #ea4a38;
    color: #ffffff !important;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}

.next-header {
    background-color: #f9d1cc;
    font-weight: bold;
    padding: 5px;
}

.past-header {
    background-color: #d2e5f5;
    font-weight: bold;
    padding: 5px;
}

.today-body {
    border: 5px solid red !important;
}

.white-border {
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-left: 0px !important;
    border-right: 0px !important;
}

div.top-grid {
    border: 1px solid #ccc !important;
    padding-top: 10px;
    text-align: center;
    height: 100%;
    cursor: default;
}

div.other-pages {
    padding-right: 15px;
    padding-top: 15px;
    padding-left: 15px;
    font-size: 16px;
    text-align: left;
}

h1 {
    text-align: center;
}

/* Gallery styles */

.galleria {
    max-width: 100%;
    height: 700px;
    margin: 0 auto;
}

ul li.thumb img {
    max-width: 235px;
    max-height: 225px;
}

ul li.thumb figure {
    width: 225px;
    height: 225px;
    padding: 0px 0px 10px 0px;
    margin: 0;
}

ul li.thumb {
    text-align: center;
    list-style: none;
    float: left;
    width: 255px;
    min-height: 270px;
    height: 270px;
    margin: 10px;
    padding: 6px 8px;
    border: 1px solid #ccc;
}

figure.photo {
    margin: 0;
}

.navbar-nav.social {
    padding-top: 7px;
}

.navbar-nav.social a {
    color: #ccc;
}

.navbar-nav.social a:hover {
    color: orange;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: #563c71;
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background-color: #381e52;
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

.pageBottom {
    padding-top: 10px;
}

.pageBottom p {
    font-size: 14px;
}

.bg-dark {
    background-color: #563c71 !important;
}

.top-grid {
    padding: 0;
}

.table {
    border: 1px solid #ccc;
}

.bg-light {
    background-color: #f5f5f58c !important;
}

.input-error{
  background-color: #f5a4a4;
}
