<div id="main-content">
    <div class="detail" *ngIf="events">
        <div *ngIf="event.imageurl" class="thumb">
            <img class="thumb-img" src="{{event.imageurl}}">
        </div>
        <div class="events-text">
            <div>
                <div class="name">
                    <div>{{event.name}}</div>
                </div>
                <div class="startDate">
                    <div>{{event.startDate}}</div>
                </div>
            </div>
            <div class="description">{{event.description}}</div>
        </div>
    </div>
</div>