body {
  padding: 0;
  margin: 0;
  background-color: #000;
}

:root {
  --boxHeight: 10vh;
}

.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
  height: 100%;
}

.ticker {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
  padding: 0;
  border: 1px solid #ddd;
}

.viewport {
  position: absolute;
  height: 100vh;
  width: 100%;
  /* white-space: nowrap; */
}

.event {
  display: flex;
  min-height: var(--boxHeight);
  color: #74704e;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #f1eac8;
  align-content: stretch;
  position: relative;
}

.event.even {
  background-color: #f5eeca;
}

.event.odd {
  background-color: #fffae0;
}

.date {
  width: var(--boxHeight);
  border-right: 1px solid #e9e0b5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dd {
  font-size: 48px;
}

.title {
  font-size: 48px;
}

.mmm,
.info-time {
  color: #b5ae7a;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 15px;
  width: 700px;
}

.info-time {
  display: flex;
  flex-direction: row;
}

.day,
.mmm {
  font-size: 24px;
  text-transform: uppercase;
}

.day {
  min-width: 60px;
}

.time {
  min-width: 200px;
  font-size: 24px;
}

.viewport.moving {
  animation: moveUp 1s infinite;
}

@keyframes moveUp {
  0% {
    transform: translateY(0px)
  }

  100% {
    transform: translateY(100px)
  }
}