<div id="main-content2">
    <div class="card calendarIcon" *ngIf="calendarIcon">
        <h5 class="card-header">
            <span *ngIf="isEdit">Edit </span>
            <span *ngIf="!isEdit">Add </span>
            <span class="name">Calendar Icon</span>
        </h5>
        <div class="card-body">

            <form [formGroup]="calendarIconForm" (ngSubmit)="calendarIconFormSubmit()" ScrollToInvalidControl>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-control-group">
                                <label>Keyword</label>
                                <input type="text" class="form-control" formControlName="name" />
                                <div class="invalid-feedback">Keyword is required</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-control-group">
                                    <label>Published</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input custom-control-input unpublished"
                                            formControlName="unpublished" id="unpublished" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="form-control-group image-url-fcg">
                                <label>Image URL</label>
                                <input type="text" class="form-control hidden" formControlName="imageurl" />
                                <div class="input-group file-upload">
                                    <label class="upload-button">
                                        <app-file-upload [existingFileUrl]="existingFileUrl" [filesource]="filesource"
                                            (uploadedFilename)="uploadedFilename($event)">
                                        </app-file-upload>
                                    </label>
                                </div>
                                <div class="invalid-feedback">Image URL is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-buttons">
                    <button class="btn btn-default" (click)="cancelCalendarIcon()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>