<form class="uploadFiles-form {{formClass}}" [formGroup]="uploadFilesForm" (ngSubmit)="uploadFilesFormSubmit()"
    [ngClass]="{
        'uploadFilesRequiredShow':  uploadFilesRequiredShow
    }">
    <div class="form-group">
        <div class="row fileupload-buttonbar">
            <div class="col-sm-12 col-md-4 button-column">
                <span class="btn btn-secondary btn-block fileinput-button">
                    <i class="fa {{uploadFileConfig.labelFileUploadIconClass}}"></i>
                    {{uploadFileConfig.labelFileUpload}}
                    <input type="file" formControlName="uploadFile" (change)="uploadFilesFunction($event)"
                        (click)="removeFailed()" accept="{{uploadFileConfig.fileTypeAccept}}"
                        [multiple]="uploadFileConfig.fileUploadMultiple">
                </span>
            </div>
        </div>
        <div class="row uploadFile-added-row" *ngFor="let uploadFile of uploadFiles" [ngClass]="{
                'uploading':  uploadFile.uploading ,
                'removing':  uploadFile.removing ,
                'has-error':    uploadFile.fileNoContentError  || 
                                uploadFile.fileMinSizeError    || 
                                uploadFile.fileMaxSizeError    || 
                                uploadFile.fileTypeAcceptError ,
                'has-success':  uploadFile.uploadStatus == 'success' 
                }">
            <div class="col-xs-10 col-sm-9 uploadFile-name">
                {{uploadFile.fileName}}
            </div>
            <div class="col-xs-2 col-sm-3 remove-uploadFile-wrapper">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">

                    </div>
                    <div class="col-sm-8">
                        <div class="remove-uploadFile" (click)="removeUploadFile(uploadFile)" *ngIf="
                                !uploadFile.removing            &&
                                !uploadFile.uploading           &&
                                !uploadFile.fileNoContentError  &&
                                !uploadFile.fileMinSizeError    &&
                                !uploadFile.fileMaxSizeError    &&
                                !uploadFile.fileTypeAcceptError">
                            <!-- <button class="btn btn-link">
                                <i class="fa {{uploadFileConfig.labelRemoveIconClass}}"></i>
                                <span class="label-remove">{{uploadFileConfig.labelRemove}}</span>
                            </button> -->
                        </div>
                        <div class="remove-uploadFile" *ngIf="uploadFile.uploading">
                            uploading
                        </div>
                        <div class="remove-uploadFile" *ngIf="uploadFile.removing">
                            removing
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 error help-text fileNoContentError" *ngIf="uploadFile.fileNoContentError">
                        {{uploadFileConfig.fileNoContentError}}
                    </div>
                    <div class="col-sm-12 error help-text fileMinSizeError" *ngIf="uploadFile.fileMinSizeError">
                        {{uploadFileConfig.fileMinSizeError}}
                    </div>
                    <div class="col-sm-12 error help-text fileMaxSizeError" *ngIf="uploadFile.fileMaxSizeError">
                        {{uploadFileConfig.fileMaxSizeError}}
                    </div>
                    <div class="col-sm-12 error help-text fileTypeAcceptError" *ngIf="uploadFile.fileTypeAcceptError">
                        {{uploadFileConfig.fileTypeAcceptError}}
                    </div>
                    <div class="col-sm-12 error help-text uploadFileAddError" *ngIf="uploadFile.uploadFileAddError">
                        {{uploadFileConfig.uploadFileAddError}}
                    </div>
                    <div class="col-sm-12 error help-text uploadFileRemoveError"
                        *ngIf="uploadFile.uploadFileRemoveError">
                        {{uploadFileConfig.uploadFileRemoveError}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="filesMaxUploadAllowedError">
            <div class="col-sm-12 error help-text filesMaxUploadAllowedError">
                {{uploadFileConfig.filesMaxUploadAllowedError}}
            </div>
        </div>
        <div class="row" *ngIf="( this.uploadFilesUploaded.length == 0  &&  uploadFilesRequiredShow )">
            <div class="col-sm-12 error help-text uploadFilesRequiredError">
                {{uploadFileConfig.uploadFilesRequiredError}}
            </div>
        </div>
    </div>
</form>