<form class="attachments-form {{formClass}}" [formGroup]="attachmentsForm" (ngSubmit)="attachmentsFormSubmit()"
    [ngClass]="{
        'attachmentsRequiredShow':  attachmentsRequiredShow
    }">
    <div class="form-group">
        <div class="row fileupload-buttonbar">
            <div class="col-sm-6 col-md-8">
                <div class="file-details">
                    <div class="name">
                        <span class="attachment-number counter">{{attachmentConfig.labelPrimaryCounter}}</span>
                        <span class="attachment-label-primary">{{attachmentConfig.labelPrimary}}</span>
                    </div>
                    <div class="description" [innerHTML]="attachmentConfig.labelSecondary">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 button-column">
                <span class="btn btn-secondary btn-block fileinput-button">
                    <i class="fa {{attachmentConfig.labelFileUploadIconClass}}"></i>
                    {{attachmentConfig.labelFileUpload}}
                    <input type="file" formControlName="attachment" (change)="uploadFiles($event)"
                        (click)="removeFailed()" accept="{{attachmentConfig.fileTypeAccept}}"
                        [multiple]="attachmentConfig.fileUploadMultiple">
                </span>
            </div>
        </div>
        <div class="row attachment-added-row" *ngFor="let attachment of attachments" [ngClass]="{
                'uploading':  attachment.uploading ,
                'removing':  attachment.removing ,
                'has-error':    attachment.fileNoContentError  || 
                                attachment.fileMinSizeError    || 
                                attachment.fileMaxSizeError    || 
                                attachment.fileTypeAcceptError ,
                'has-success':  attachment.uploadStatus == 'success' 
                }">
            <div class="col-xs-10 col-sm-9 attachment-name">
                {{attachment.fileName}}
            </div>
            <div class="col-xs-2 col-sm-3 remove-attachment-wrapper">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">

                    </div>
                    <div class="col-sm-8">
                        <div class="remove-attachment" (click)="removeAttachment(attachment)" *ngIf="
                                !attachment.removing    &&
                                !attachment.uploading          &&
                                !attachment.fileNoContentError  && 
                                !attachment.fileMinSizeError    && 
                                !attachment.fileMaxSizeError    && 
                                !attachment.fileTypeAcceptError">
                            <button class="btn btn-link">
                                <i class="fa {{attachmentConfig.labelRemoveIconClass}}"></i>
                                <span class="label-remove">{{attachmentConfig.labelRemove}}</span>
                            </button>
                        </div>
                        <div class="remove-attachment" *ngIf="attachment.uploading">
                            uploading
                        </div>
                        <div class="remove-attachment" *ngIf="attachment.removing">
                            removing
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 error help-text fileNoContentError" *ngIf="attachment.fileNoContentError">
                        {{attachmentConfig.fileNoContentError}}
                    </div>
                    <div class="col-sm-12 error help-text fileMinSizeError" *ngIf="attachment.fileMinSizeError">
                        {{attachmentConfig.fileMinSizeError}}
                    </div>
                    <div class="col-sm-12 error help-text fileMaxSizeError" *ngIf="attachment.fileMaxSizeError">
                        {{attachmentConfig.fileMaxSizeError}}
                    </div>
                    <div class="col-sm-12 error help-text fileTypeAcceptError" *ngIf="attachment.fileTypeAcceptError">
                        {{attachmentConfig.fileTypeAcceptError}}
                    </div>
                    <div class="col-sm-12 error help-text attachmentAddError" *ngIf="attachment.attachmentAddError">
                        {{attachmentConfig.attachmentAddError}}
                    </div>
                    <div class="col-sm-12 error help-text attachmentRemoveError"
                        *ngIf="attachment.attachmentRemoveError">
                        {{attachmentConfig.attachmentRemoveError}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="filesMaxUploadAllowedError">
            <div class="col-sm-12 error help-text filesMaxUploadAllowedError">
                {{attachmentConfig.filesMaxUploadAllowedError}}
            </div>
        </div>
        <div class="row" *ngIf="( this.attachmentsUploaded.length == 0  &&  attachmentsRequiredShow )">
            <div class="col-sm-12 error help-text attachmentsRequiredError">
                {{attachmentConfig.attachmentsRequiredError}}
            </div>
        </div>
    </div>
</form>