<aside id="leftsidebar" class="sidebar" (mouseenter)="mouseHover($event)" (mouseleave)="mouseOut($event)"
  (touchstart)="touchstart()">

  <div class="brand">
    <div class="logo">
      <img src="assets/brand/admin-logo.png" alt="logo">
    </div>
    <div class="name">
      ADMIN
    </div>
    <label class="switch">
      <input type="checkbox" class="sideMenuStatus" [(ngModel)]="sideMenuExpanded" (change)="toggleSidebar()">
      <span class="slider round"></span>
    </label>
  </div>

  <div class="nav">
    <ul class="list">
      <li routerLinkActive="active">
        <a class="events" [routerLink]="'/events'" class="nav-link">
          <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
          <span class="hide-menu">Events
          </span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a class="calendarIcons"[routerLink]="'/calendarIcons'" class="nav-link">
          <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
          <span class="hide-menu">Calendar Icons
          </span>
        </a>
      </li>
      <li>
        <a class="logout" (click)="logout()" class="nav-link">
          <fa-icon [icon]="['fas', 'sign-out']"></fa-icon>
          <span class="hide-menu">Logout
          </span>
        </a>
      </li>
    </ul>
  </div>
</aside>