
  <input type="button" value="Back" onclick="history.back()" style="background:#563c71de; color:white">
  <!-- <button onclick="history.back()">Go Back</button> -->
<!-- <a type="button" class="btn btn-rounded" href="history.back()">Primary</a> -->
