<div id="main-content">
    <div class="card event" *ngIf="event">
        <h5 class="card-header">
            <span *ngIf="isEdit">Edit </span>
            <span *ngIf="!isEdit">Add </span>
            <span class="name">Event</span>
        </h5>
        <div class="card-body">

            <form [formGroup]="eventForm" (ngSubmit)="eventFormSubmit()" ScrollToInvalidControl>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-control-group">
                            <label>Name</label>
                            <input type="text" class="form-control" formControlName="name" />
                            <div class="invalid-feedback">Name is required</div>
                        </div>
                        <div class="form-control-group">
                            <label>Description</label>

                            <angular-editor class="form-control description" formControlName="description"
                                [config]="editorConfig"></angular-editor>

                            <div class="invalid-feedback">Description is required</div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="form-control-group">
                                    <label>Start date</label>
                                    <input type="text" class="form-control" formControlName="startDate" ngbDatepicker
                                        #startDateDatepicker="ngbDatepicker" (click)="startDateDatepicker.toggle()"
                                        [readonly]="true" (ngModelChange)="setEndDate()" />
                                    <div class="invalid-feedback">Start date is required</div>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-control-group">
                                    <label>Published</label>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input custom-control-input unpublished"
                                            formControlName="unpublished" id="unpublished" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="form-control-group">
                                    <label>Change end date</label>
                                    <div class="changeEndDateWrapper">
                                        <div class="form-check">
                                            <input type="checkbox"
                                                class="form-check-input custom-control-input changeEndDate"
                                                id="changeEndDate" [checked]="( changeEndDate === true )"
                                                (change)="changeEndDate = $event.target.checked;" />
                                        </div>
                                        <input type="text" class="form-control" formControlName="endDate" ngbDatepicker
                                            #endDateDatepicker="ngbDatepicker" (click)="endDateDatepicker.toggle()"
                                            [readonly]="true" [disabled]="!changeEndDate" />
                                        <div class="invalid-feedback">End date is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-control-group image-url-fcg">
                                <label>Image URL</label>
                                <div class="input-group file-upload">
                                    <div class="input-group-prepend">
                                        <img src="{{LOCAL_PATH}}{{event.imageurl}}" class="thumb">
                                    </div>
                                    <label class="upload-button">
                                        <input type="file" class="form-control file" ngFileSelect
                                            formControlName="imageName" (uploadOutput)="onUploadOutput($event)"
                                            [uploadInput]="uploadInput" />
                                        <div class="invalid-feedback">Image URL is required</div>
                                    </label>
                                </div>
                                <div class="invalid-feedback">Image URL is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="action-buttons">
                    <button class="btn btn-default" (click)="cancelEvent()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>