.upcoming {
  /* background: linear-gradient(to right, #fceabb, #f8b500); */
  /* background: linear-gradient(to right, #42275a, #734b6d);  */
  /* background: linear-gradient(to right, #e0eafc, #cfdef3); */
}

.upcoming.row>.article {
  /* background: linear-gradient(to bottom, #f8b500, #fceabb); */
  border-color: #f8dd9b;
  padding: 10px;
  margin: 0;
  background-color: #fceabb
}

.recent {
  background-color: rgb(255, 245, 246);
}

.recent.row>.col {
  background-color: pink
}

.past {
  background-color: rgb(229, 247, 247);
}

.past.row>.col {
  background-color: aqua
}

.article {
  width: unset;
  height: unset;
  padding: 0px;
  margin-right: 0;
}

.card-body {
  padding: 0px;
}
.card-text {
  font-size: 1.5em;
}

.inlinepopup {
  border: 0px solid #f8dd9b; 
  border-top: 5px solid #f8b500;
  background: linear-gradient(to right,  #734b6d, #42275a); 
}

.inlinepopup_content h2 {
  font-weight: bold;
  font-size: 30px;
}


.inlinepopup .col-auto {
  width: fit-content;
}
.name, .date {
  font-size: 40px;
  line-height: 50px;
}

.name {
  padding-left: 0;
  color: #fceabb;
}

.date {
  color: orangered;
  color: #f8b500;;
  padding-right: 30px;
  padding-left: 0px;
}

.card-text{
  color: #ddd;
  padding-right: 20px;
}

body {
  background: linear-gradient(to top, #fceabb, #f8b500);
}

@media (max-width: 768px) { 
  .inlinepopup img.card-img-top {
    display:none;
  } 
}