<div class="right-section page" id="main-content">
    <div class="c-grid">

        <div id="card-stats" class="pt-0">
            <div class="row">
                <div class="col s12 m6 l6 xl3">
                    <div
                        class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text animate fadeLeft">
                        <div class="padding-4">
                            <div class="row">
                                <div class="col-6 s7 m7">
                                    <fa-icon [icon]="['fas', 'calendar-day']" class="background-round"></fa-icon>
                                    <p>Orders</p>
                                </div>
                                <div class="col-6 s5 m5 right-align">
                                    <h5 class="mb-0 white-text">690</h5>
                                    <p class="no-margin">New</p>
                                    <p>600,00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6 xl3">
                    <div
                        class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text animate fadeLeft">
                        <div class="padding-4">
                            <div class="row">
                                <div class="col-6 s7 m7">
                                    <fa-icon [icon]="['fas', 'user-circle']" class="background-round"></fa-icon>
                                    <p>Clients</p>
                                </div>
                                <div class="col-6 s5 m5 right-align">
                                    <h5 class="mb-0 white-text">1885</h5>
                                    <p class="no-margin">New</p>
                                    <p>112,900</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6 xl3">
                    <div
                        class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text animate fadeRight">
                        <div class="padding-4">
                            <div class="row">
                                <div class="col-6 s7 m7">
                                    <fa-icon [icon]="['fas', 'chart-pie']" class="background-round"></fa-icon>
                                    <p>Sales</p>
                                </div>
                                <div class="col-6 s5 m5 right-align">
                                    <h5 class="mb-0 white-text">80%</h5>
                                    <p class="no-margin">Growth</p>
                                    <p>342,230</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6 xl3">
                    <div
                        class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text animate fadeRight">
                        <div class="padding-4">
                            <div class="row">
                                <div class="col-6 s7 m7">
                                    <fa-icon [icon]="['fas', 'dollar-sign']" class="background-round"></fa-icon>
                                    <p>Profit</p>
                                </div>
                                <div class="col-6 s5 m5 right-align">
                                    <h5 class="mb-0 white-text">$890</h5>
                                    <p class="no-margin">Today</p>
                                    <p>$25,000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card demo-charts">
            chart1
        </div>

        <div class="card demo-charts2">
            chart2
        </div>

        <div class="card demo-charts3">
            chart3
        </div>

    </div>

</div>