md-icon svg {
  fill: white; }

.header-button {
  background: #16adea; }

.header-button span {
  color: #fff;
  font-size: 150%;
  padding: 2px 5px;
  text-transform: none; }

header .md-primary {
  min-height: 60px; }

md-card-title-text .md-headline {
  font-size: 120%;
  line-height: 24px; }

.card-media {
  padding: 5px; }

.company-name {
  text-transform: uppercase; }

.shiftDateRange {
  font-weight: bold; }

md-card md-card-title {
  padding: 8px; }

md-card md-card-title md-card-title-media {
  margin-top: 0px; }

.agree-all-days {
  font-weight: bold;
  margin-bottom: 5px; }

.company-address,
.branchPhoneNumber {
  color: #00bcff;
  text-decoration: underline;
  font-size: 110%; }

.company-address {
  font-weight: bold; }

md-divider {
  margin: 10px 0; }

.label {
  font-weight: bold;
  color: grey; }

.job-shifts {
  color: grey;
  font-size: 90%; }

.day3 {
  min-width: 35px;
  display: inline-block; }

.month3 {
  min-width: 30px;
  display: inline-block; }

.day1 {
  min-width: 20px;
  display: inline-block; }

.highlight {
  border-bottom: 3px dotted red; }

.testing {
  width: 71.42857%; }

.xxx .yyy .zzz {
  color: lime; }

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-accent .md-ink-ripple, md-toolbar:not(.md-menu-toolbar).md-accent .md-ink-ripple {
  color: #fff !important; }
